@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
} 
::placeholder{
  font-size: 0.7rem;
}
body{
  background-image: linear-gradient(to right, #0B0023, #15003A);
}
/* scroll bar css  */
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4c4c4c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
p,h1,h2,h3,h4,h5,h6{
  margin: 0;
}
.m-0{
  margin: 0;
}

.text-secondary {
  color: #7447BE;
}
.text-red{
  color: red;
}

.btn {
  border: 2px solid #7447BE;
  background-color: #7447BE;
  font-weight: bold;
  color: white;
  padding: 0.8rem;
  border-radius: 1.5rem;
  cursor: pointer;
  width: 8rem;
  transition:all 0.2s ease-in-out;
}
.btn:hover{
  border: 2px solid #7447BE;
  background-color: transparent;
  color: #7447BE;
}
.btn-inverted{
  color: #7447BE;
  font-weight: bold;
  background-color: white;
  padding: 0.8rem;
  border-radius: 1.5rem;
  cursor: pointer;
  width: 8rem;
  border: 2px solid white;
  transition:all 0.2s ease-in-out;
}
.btn-inverted:hover{
  background: transparent;
  color: white;
}
.btn-container > *{
  margin: 0rem 0.5rem;
}
/* admin page css starts */
.admin{
  width: 100%;
  height: 1rem;
  background-color: green;
  position: fixed;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 0.7rem;
  text-transform: uppercase;
}
/* admin page css ends  */

/* navbar css starts  */
.navbar {
  height: 4rem;
  width: 100%;
  padding: 1rem;
  position: fixed;
  background-color: transparent;
}

.navbarInner {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.navbarInnerLeft {
  height: 100%;
}

.navbarInnerRight {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center
}

.hamburgerIcon {
  color: white !important;
  display: none;
  font-size: 1.5rem;
}

#logo {
  height: 100%;

}

.navbarList {
  list-style: none;
  display: flex;
  color: white;
  text-transform: uppercase;
}

.navbarList li {
  margin: 0rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbarList li a{
  text-decoration: none;
  color: white;
}
.navbarBtn{
  background: transparent;
  border: none;
}
.cross{
  color: white !important;
  position: absolute;
  font-size: 2rem;
  right: 5vw;
  top: 2vh;
}

/* navbar css ends  */

/* home page css starts  */
.home ,.login,.signup,.stories,.publish,.storyfull,.investor{
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, #0B0023, #15003A);

}

.vectorBackground {
  height: 100%;
  width: 100%;
  background-image: url(./images//vector.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vectorBackground img {
  height: 100%;
  width: 100%;
}

.homeContent {
  width: 50rem;
  text-align: center;
  color: white;
  padding: 3rem;
}
.homeContent p{
  margin: 0;
  margin-bottom: 1rem;
}

.homeContent h1 {
  font-size: 3rem;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.homeContent button{
  margin: 0.5rem;
}

/* home page css ends */

/* sideNavbar css starts  */
.sideNavbar{
  height: 100vh;
  width: 100vw;
  background: #15003af3;
  position: fixed;
  left: 100vw;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.sideNavbarInner ul{
  list-style: none;
  color: white;
  font-size: 2rem;
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.sideNavbarInner ul li{
  margin: 1rem
  
}
.sideNavbarInner ul li a{
  color: white;
  text-decoration: none;
  
}
.sideNavBarBtn{
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: white;
}
/* sideNavbar css ends */
/* login css starts  */

.loginInner{
  width: 25rem;
  display: flex;
}
.loginInnerLeft{
  width: 100%;
  height: 100%;
}
.loginInnerLeft{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem;
}
.loginInnerLeft p{
  font-size: 0.8rem;
}
.loginInnerLeft h3{
  margin: 0.5rem;
}
.loginInnerLeftContent{
  width: fit-content;
  margin: auto;
}
.loginForm >*{
  margin-top: 1rem;
}
.loginInnerLeftContent h2{
  margin-bottom: 0;
}
.formItem{
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
}
.loginForm label{
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.formInput{
  width: 18rem;
  height: 2rem;
  
}
.forgetBtn{
  font-size: 0.8rem;
  font-weight: bold;
}
.loginInnerRight{
  background-color: rgb(223, 200, 255);
}
.loginForm button{
  width: 100%; 
  border-radius: 0rem;
}
.googleBtn{
  margin-top: 0.5rem;
  width: 100%;
  height: 2.5rem;
  border: none;

}
.googleBtn img{
  height: 1rem;
  width: 1rem;
}
#passwordMatchAlert{
  display: none;
}
#fillAlert,#fillAlert2,#invalidCred{
  display: none;
}
/* login css ends */

/* stories css starts  */
.storiesMain,.publishMain{
  display: flex;
  flex-direction:column;
  justify-content: end; 
}
.publishInner,.storiesInner,.storyfullInner,.investorInner{
  height: 90%;
  width: 90VW;
  background-color: rgba(0, 0, 0, 0.393);
  backdrop-filter: blur(5px);
  color: white;
  text-align: center;
  padding: 3rem;
  overflow-y: scroll;
  z-index: 1;
}
.storiesInner h1{
  margin-bottom: 1rem;
}

.imgTop{
  height: 30rem;
  width: 40rem;
}
.storiesInnerBottom{
  margin-top: 2rem;
}
.searchAndFilters{
  margin-top: 1rem;
  display:flex ;
  align-items: center;
  justify-content: center;
  height: 3rem;

}
.categoryDropdown{
  width: 10rem;
  height: 2.5rem;
  border-radius: 2rem;
  margin-left: 1rem;
  background-color: #7447BE;
  color: white;
  padding: 0rem 1rem;
}
.storySearch{
  display: flex;
  align-items: start;
  background-color: rgba(255, 255, 255, 0.368);
  max-width: fit-content;
  border-radius: 2rem;

}
.storySearch input{
  height: 2.5rem;
  width: 20rem;
  background-color: transparent;
  border-radius: 2rem 0 0 2rem;
  border: none;
  padding: 0rem 1rem;
  font-size: 1rem;
}
.storySearch .btn{
  width: 3rem;
}
.storiesContainer{
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* stories css ends */
/* storycard css starts  */
.storyCard{
  margin-top: 2rem;
  height: 30rem;
  width: 20rem;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.storyCardImage img{
  width: 100%;
  height: 15rem;
}
.storyCardContent{
  padding: 1rem;
}
.startupName{
  font-weight: bold;
  margin-bottom: 1rem;
}
.storyCardEnd{
  padding: 1rem;
}
/* storycard css ends */

/* publish page css starts  */

.publishInner{
  color: white;
}
#publishInnerAlt button{
  margin-top: 1rem;
}
.storyFormElement{
  margin: 1rem 0rem;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.storyFormInput{
  height: 2.5rem;
  font-size: 1.5rem;
  margin: 0.5rem 0rem;
  background-color: rgba(255, 255, 255, 0.256);
  border: none;
  color: white;
}
.storyFormTextarea{
  margin: 0.5rem 0rem;
  background-color: rgba(255, 255, 255, 0.256);
  border: none;
  color: white;
}
.sectorDropdown{
  font-size: 1rem;
  color: black;
}
.problemsAndSolutions {
  text-align: start;
}
#MissingFieldAlert{
  display: none;
  margin-bottom: 1rem;
}
/* publish page css ends */

/* storyfull css starts  */
.storyfullInner{
  overflow-x: hidden;
}
.storyEditIcons{
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
}
#storySaveBtn{
  display: none;
}
.storyEditIcons button{
  width: 3rem;
  margin: 0rem 0.5rem;
}
.storyFullInnerTop{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.storyFullInnerTop h1{
  text-transform: uppercase;
}
.storyFullInnerCover img{
  top: 10rem;
  width: 60rem;
}
.storyFullInnerTopMain{
  margin: 3rem;
}
.startupSector{
  border: 2px solid white;
  padding: 1rem;
  margin-bottom: 1rem;
}
.startupLinks{
  display: flex;
  color: white;
  margin-bottom: 1rem;
}
.startupLinks i{
  font-size: 2rem;
  margin: 0rem 1rem;
}
.startupLinks a{
  color: white;
}
.startupStoryDiv{
  text-align: start;
  margin-top: 1rem;
}
.startupStoryDiv h3,.factSheetDiv h3,.problemSolutionDiv h3{
  font-size: 3rem;
  margin-bottom: 2rem;
}
.factSheetDiv{
  text-align: left;
  margin: 3rem;
  border: 2px dotted white;
  width: 100%;
  padding: 1rem;
}
.factSheetInner p{
  font-weight: bolder;
  font-size: 2rem;
}
.factSheetInner{
  margin-top: 1rem;
}
.problemSolutionDiv{
  text-align: left;
}
.problemP{
  font-size: 1.5rem;
  font-weight: bolder;
}
/* storyfull css ends */
/* investor card css starts  */
.investorCard{
  height: 25rem;
  width: 20rem;
  overflow: hidden; 
  
  border: 10px solid rgba(255, 255, 255, 0.24);
}
.investorCardInner{
  height: 200%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: all 0.3s ease-in-out;
  color: black;
}
.investorImage,.investorInfo{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.investorImage img{
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.investorLinks{
  text-align: center;
  margin-top: 1rem;
}
.investorLinks i{
  margin: 1rem 0.5rem;
}
.cardToggle1,.cardToggle2{
  width: 100%;
  height: 5%;

}
.investorCardSection1,.investorCardSection2{
  width: 100%;
  height: 45%;
}
.cardToggleBtn{
  width: 100%;
  height: 100%;
  background-color: #7447BE;
  border: none;
  color: white;
}
.investorLinks a {
  color: black;
  text-decoration: none;
}
.investorInterestDiv{
  text-align: center;
}
.investorInterest{
  margin-top: 1rem;
}
.investorInterest span{
  border: 2px solid black;
  padding: 0.5rem;
  margin: 0rem 0.25rem;
}
.investorCardSection1{
  padding: 1rem;
}
.investorPast{
  margin-top: 1rem;
}

/* investor card css ends */
/* investor page css starts */
.investorPageCoverImg{
  margin-top: 1rem;
}
.investorCardContainer{
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.investorCardContainer > *{
  margin-top: 2rem;
  
}
.registerInvestorDiv{
  margin-top: 1rem;
}
.registerInvestorBtn{
  width: 15rem;
  border-radius: 0rem;
}
.registerInvestorQuote{
  border: 2px dotted white;
  margin: 2rem 0rem;
  padding: 1rem ;
}
#InvestorMissingFieldAlert{
  display: none;
}
/* investor page css ends*/

/* about page start */
.aboutImg img{
  /* height: 35rem;  */
}
.about1{
  display: flex;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
  
}
.about1 img{
  width: 50%;
  border-radius: 2rem;
  box-shadow:  1px 1px 6px #e2a851;
  margin: 2px 2px 2px 2px;
}
.about12{
  margin: 7rem 4rem 4rem 4rem;
}
.about12 h2{
  margin-bottom: 1rem;
}

.about2{
  display: flex;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
}
.about2 img{
  width: 50%;
  border-radius: 2rem;
  box-shadow:  1px 1px 6px #e2a851;
  margin: 2px 20px 2px 2px;
}
.about22{
  margin: 7rem 4rem 4rem 4rem;
}
.about22 h2{
  margin-bottom: 1rem;
}

.about3{
  display: flex;
  margin-top: 5rem;
}
.about3 img{
  width: 50%;
  border-radius: 2rem;
  box-shadow:  1px 1px 6px #e2a851;
  margin: 2px 20px 2px 2px;
}
.about32{
  margin: 4rem 4rem 4rem 6rem;
}
.about32 h2{
  margin-bottom: 1rem;
}
.end1 img{

  width: 30rem;
}

/* about page ends */


@media (max-width: 1200px) {
  .imgTop{
    height: 20rem;
    width: 30rem;
  }
  .storyFullInnerCover img{
    width: 50rem;
  }
  .investorCard{
    height: 25rem;
    width: 18rem;
  }
  .about1,.about3{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .about2{
    flex-direction: column-reverse;
  }
  .about12 ,.about22,.about32{
    margin: 0;
    margin-top: 1rem;
  }
  #logo{
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .navbarList li {
    margin: 0rem 1rem;
    font-size: 0.8rem;
  }
  .storyFullInnerCover img{
    width: 35rem;
  }
  .investorCard{
    height: 25rem;
    width: 16rem;
  }
  .about1 img,.about2 img,.about3 img{
    width: 90%;
  }


}
@media (max-width: 885px) {

  .investorCard{
    height: 23rem;
    width: 14rem;
  }
  .investorCardContainer{
    margin-top: 1rem;
  }

}

@media (max-width: 768px) {
  .navbarList {
    display: none;
  }

  .hamburgerIcon {
    display: block;
  }

  .homeContent h1 {
    font-size: 2.5rem;
  }
  .publishInner,.storiesInner,.storyfullInner,.investorInner{
    padding: 1rem;
  }
  .storiesInner h1{
    font-size: 1.5rem;
  }
  .imgTop{
    height: 15rem;
    width: 20rem;
  }
  .storySearch input{
    width: 8rem;
  }
  .categoryDropdown{
    width: 5rem;
  }
  .storyFullInnerCover img{
    width: 25rem;
  }
  .storyFullInnerTopMain {
    margin: 1rem;
  }
  .startupStoryDiv h3,.factSheetDiv h3,.problemSolutionDiv h3{
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
}

@media (max-width: 680px) {

  .homeContent h1 {
    font-size: 2rem;
  }
  .imgTop{
    height: 10rem;
    width: 15rem;
  }
  .storyFullInnerCover img{
    width: 90vw;
  }
  .investorCardContainer{
    justify-content: center;
    align-items: center;
  }
  .investorCard{
    height: 23rem;
    width: 90%;
  }

}