*{
  box-sizing:border-box; 
}
.home{
  height: 100vh;
  width: 100%;
}
/* navbar css starts  */
.navbar{
  height: 4rem;
  width: 100%;
  background-color: blue;
  padding: 1rem;
}
.navbarInner{
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.navbarInnerLeft{
  height: 100%;
}
.navbarInnerRight{
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center
}
#logo{
  height: 100%;

}
.navbarList{
  list-style: none;
  display: flex;
  color: white;
  text-transform: uppercase;
}
.navbarList li {
  margin: 0rem 1.5rem;
}
/* navbar css ends  */

