*{
  box-sizing:border-box; 
}

/* navbar css starts  */
.navbar{
  height: 4rem;
  width: 100%;
  padding: 1rem;
  position: fixed;
  background-color: transparent;
}
.navbarInner{
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.navbarInnerLeft{
  height: 100%;
}
.navbarInnerRight{
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center
}
#logo{
  height: 100%;

}
.navbarList{
  list-style: none;
  display: flex;
  color: white;
  text-transform: uppercase;
}
.navbarList li {
  margin: 0rem 1.5rem;
}
/* navbar css ends  */

/* home page css starts  */
.home{
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right,#0B0023 , #15003A);
}
.vectorBackground{
  height: 100%;
  width: 100%;
}
.vectorBackground img{
  height: 100%;
  width: 100%;
}
/* home page css ends */